{% extends "master.html.twig" %}

{% block title %}Montreal Event Threads{% endblock title %}

{% block content %}
    <h1>Montreal Events</h1>
    <section>
        <a href="#">Tonight at Casa Del Popolo</a><br><br>

        <a href="#">Anyone go see Run The Jewels??</a><br><br>

        <a href="#">Looking for bands to perform album release event</a><br><br>
    </section>
{% endblock content %}