{% extends "master.html.twig" %}

{% block title %}All Forum Boards{% endblock title %}

{% block content %}


        <h1 class="title is-1">Boards</h1>
        <aside class="menu">
            <ul class="menu-list">
                {% for board in boardList %}
                    <li><a href="/board/{{board.boardId}}">{{board.title}}</a></li>
                {% endfor %}
            </ul>
        </aside>


{% endblock content %}