{% extends "master.html.twig" %}

{% block title %}New Board{% endblock title %}

{% block content %}

    {% if errorList %}
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>            
    {% endif %} 

    <h1 class="title is-1">New Board</h1>
    <form method='post'>
        <div class="field">
            <label class="label">Board Topic<label>
            <p class="control">
                <input class="input" type='text' name='title' placeholder="Insert board topic">
            </p>
        </div>
        <input class="button" type='submit' value='Create new board'>
    </form>
{% endblock content %}
