{% extends "master.html.twig" %}

{% block title %}Music Talk Threads{% endblock title %}

{% block content %}
    <h1>Music Talk</h1>
    <section>
        <a href="#">Hip-hop thread</a><br><br>

        <a href="#">Noise/Industrial/Experimental music thread</a><br><br>

        <a href="#">The "punk's not dead" thread!</a><br><br>
    </section>
{% endblock content %}