{% extends "master.html.twig" %}

{% block title %}Gear/Tech Threads{% endblock title %}

{% block content %}
    <h1>Gear and Tech Discussion</h1>
    <section>
        <a href="#">MS-20 module!</a><br><br>

        <a href="#">The age-old debate: analog vs digital</a><br><br>

        <a href="#">How do I get my mix-down just right?</a><br><br>
    </section>
{% endblock content %}
