{% extends "master.html.twig" %}

{% block title %}All Forum Boards{% endblock title %}

{% block content %}

<section>
        <a href="/board/musictalk">Music Talk - Discuss your favorite sounds</a>
        <p>Discuss your favorite music - hip hop, techno, rock, industrial/noise and more</p>

        <a href="/board/geartech">Gear/Technology</a>
        <p>Everything from guitars, pedals, amps, synths, electronics, mixing and mastering techniques</p>

        <a href="/board/events">Events - Past, present, and future</a>
        <p>Let people know of any upcoming events that might be of interest</p>
</section>
    
{% endblock content %}