{% extends "master.html.twig" %}

{% block title %}New Thread{% endblock title %}

{% block content %}

    {% if errorList %}
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>            
    {% endif %} 

    <h1>New Thread</h1>
    <form method='post'>
        Topic: <input type='text' name='title'><br>
        <textarea name='body'>Enter body here...</textarea><br>
        <input type='submit' value='Submit'>
    </form>
{% endblock content %}
