{% extends "master.html.twig" %}

{% block title %}User registration{% endblock title %}

{% block content %}

    {% if errorList %}
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>            
    {% endif %}    
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <form method="post" id="regform">
                    <div class="field">
                        <label class="label">Username</label>
                        <p class="control">
                            <input class="input" type="text" name="username" value="{{v.username}}">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input" type="password" name="pass1">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Retype password</label>
                        <p class="control">
                            <input class="input" type="password" name="pass2">
                        </p>
                    </div>
                    <div class="field">
                        <p class="title is-12">Please read:<p>
                        <p>The earth is flat</p>
                        <label class="checkbox">
                            <input type="checkbox">
                            I agree
                        </label>
                    </div>
                    <div class="field">
                        <input class="button" type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}