{% extends "master.html.twig" %}

{% block title %}Search Results{% endblock title %}

{% block content %}
    <h1 class="title is-1">Results</h1>
    {% for p in searchResults %}
        <article class="message">
        <div class="message-header"><p>Posted on {{p.date}}</p>
        </div>
        <div class="message-body">{{p.body}}</div>
        
        </article>
    {% endfor %}
{% endblock content %}