{% extends "master.html.twig" %}

{% block title %}New Thread Successful{% endblock title %}

{% block content %}
    <p>Post successful, view it <a href="/thread/{{threadId}}">here</a>.</p>
{% endblock content %}
