{% extends "master.html.twig" %}

{% block title %}View Thread{% endblock title %}

{% block content %}
    <ul>
        {% for thread in postList %}
            <li>{{thread.title}}</li>
            <li>{{thread.body}}</li>
        {% endfor %}
    </ul>
{% endblock content %}
